/**
 * Category List Block Editor Styles
 */

.wp-block-bold-post-category-list {
    // Editor specific styles
    min-height: 100px;

    .components-placeholder {
        min-height: 200px;
    }
}